<!-- min-vh-100 faz com que o body ocupe todo o espaço da página -->
<header>
    <div class="d-flex justify-content-around p-2">
        <div class="text-white no-pointer">
            <h1 class="" style="font-family: Roboto Mono, monospace; font-optical-sizing: auto;">
                fernando-veras<span class="fw-semibold" style="color:#f10d59">.dev</span>
            </h1>
            <p style="font-family: Roboto Mono, monospace;">Welcome to my landing page!</p>
        </div>
        <div class="d-flex align-items-center gap-2 fw-semibold" style="color:#f10d59; width: auto; font-family: Roboto Mono, monospace;">
            <p class="glb-cursor-pointer">English |</p>    
            <p class="glb-cursor-pointer">Projects |</p>    
            <p (click)="scrollToSection()" class="glb-cursor-pointer">Contact </p>    
        </div>
    </div>
</header>

<body 
    class="min-vh-100 shadow-lg" 
    style="background: rgb(43, 41, 41); height: 100%; margin: 0;">

    <main class="d-flex justify-content-center">        
        <div class="rounded mb-5" style="background-color: rgba(8, 8, 8, 0.363); width: 80%; height: 100%; border-color: #f10d59;">   
        <div class="col-3 p-2">
            <p class="glb-mono-font">
                This website serves as my personal portfolio, showcasing my skills, projects, and 
                experience as a developer. Here, you'll find examples of my work with Angular, TypeScript, 
                C#, Bootstrap, and SQL, along with insights into my development process. 
                Feel free to explore and reach out if you're interested in working together!
            </p>
        </div>
            <div class="text-white min-vh-100 d-flex justify-content-center align-items-end" id="targetSection">
                <div class="tech-container">
                    <img class="tech-logo" src="../../../assets/images/angular.png" alt="angular">
                    <img class="tech-logo" src="../../../assets/images/bootstrap.png" alt="bootstrap">
                    <img class="tech-logo" src="../../../assets/images/csharp.png" alt="c#">
                    <img class="tech-logo" src="../../../assets/images/typescript.png" alt="typescript">                    
                </div>
            </div>     

            <div class="d-flex justify-content-center d-flex align-items-end text-white">
                <p class="card-hover no-pointer"> <span class="fw-bold">&lt;/&gt; </span> made by <strong style="color:#f10d59;">Fernando Veras</strong><span class="fw-bold"> &lt;/&gt;</span></p>
            </div>    
        </div>
    </main>
</body>